ValamiApp/.vs/ValamiApp/v16/Server/sqlite3/storage.ide-wal
ValamiApp/.vs/ValamiApp/v16/Server/sqlite3/storage.ide-shm
ValamiApp/.vs/ValamiApp/v16/Server/sqlite3/storage.ide
ValamiApp/.vs/ValamiApp/v16/Server/sqlite3/db.lock
