USE [master]
GO
/****** Object:  Database [algorythmics2]    Script Date: 10/31/2019 9:25:52 AM ******/
CREATE DATABASE [algorythmics2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'algorythmics2_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\algorythmics2_Data.mdf' , SIZE = 19456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'algorythmics2_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\algorythmics2_Log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [algorythmics2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [algorythmics2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Algorithms]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Algorithms](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[AlgorithmPicture] [varchar](50) NULL,
	[AlgorithmNickname] [varchar](50) NOT NULL,
	[IsPublished] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Content] [nvarchar](100) NOT NULL,
	[IsRight] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[LastName] [nvarchar](50) NULL,
	[Studies] [nvarchar](50) NULL,
	[Grade] [int] NOT NULL,
	[Gender] [nchar](6) NULL,
	[ITSkills] [nvarchar](max) NULL,
	[DateofBirth] [date] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasicSteps]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicSteps](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StepType] [tinyint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseProgressByUser]    Script Date: 10/31/2019 9:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseProgressByUser](
	[Id] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Value] [int] NULL,
	[Date] [date] NULL,
	[Type] [tinyint] NULL,
	[OrderNumber] [int] NULL,
	[LearningStepNumber] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/31/2019 9:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] NOT NULL,
	[AlgorithmId] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsDefault] [bit] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsPublished] [bit] NULL,
	[CreatedOn] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteractiveVideoAnswers]    Script Date: 10/31/2019 9:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteractiveVideoAnswers](
	[Id] [int] NOT NULL,
	[InteractiveVideoMomentId] [int] NOT NULL,
	[Answer] [nvarchar](120) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteractiveVideoMoments]    Script Date: 10/31/2019 9:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteractiveVideoMoments](
	[Id] [int] NOT NULL,
	[LearningStepId] [int] NOT NULL,
	[Moment] [float] NOT NULL,
	[Question] [nvarchar](200) NOT NULL,
	[CorrectAnswer] [nvarchar](120) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[ReasoningType] [tinyint] NOT NULL,
	[CorrectIndices] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningSteps]    Script Date: 10/31/2019 9:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningSteps](
	[Id] [int] NOT NULL,
	[DisplayMode] [tinyint] NULL,
	[CourseId] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[InputType] [tinyint] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[OrderNr] [int] NOT NULL,
	[PlaybackType] [tinyint] NULL,
	[LearningStepType] [tinyint] NOT NULL,
	[TeacherInput] [varchar](100) NULL,
	[AnimationKeyMoments] [varchar](100) NULL,
	[VideoStartFrom] [float] NULL,
	[VideoPlaybackRate] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 10/31/2019 9:25:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] NOT NULL,
	[Content] [nvarchar](100) NOT NULL,
	[TestId] [int] NOT NULL,
	[AnswerTypes] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181010073451_Initial', N'2.0.3-rtm-10026')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181010110215_Merged-Branch', N'2.0.3-rtm-10026')
INSERT [dbo].[Algorithms] ([Id], [Description], [Icon], [Name], [Type], [Url], [AlgorithmPicture], [AlgorithmNickname], [IsPublished]) VALUES (1, N'A form of sorting by exchanging that simply interchanges pairs of elements that are out of order in a sequence of passes through the file, until no such pairs exist. 
The method is not competitive with straight insertion.', N'Icon', N'Bubble sort', 0, N'https://www.youtube.com/embed/lyZQPjUT5B4', N'bubblesort.png', N'bubble', 1)
INSERT [dbo].[AspNetUserClaims] ([Id], [ClaimType], [ClaimValue], [UserId]) VALUES (1, N'Permission', N'Developer', N'f6dc2cf6-1890-4aab-b8be-251bf941cc70')
INSERT [dbo].[AspNetUserClaims] ([Id], [ClaimType], [ClaimValue], [UserId]) VALUES (2, N'Permission', N'BackendUser', N'f6dc2cf6-1890-4aab-b8be-251bf941cc70')
INSERT [dbo].[AspNetUserClaims] ([Id], [ClaimType], [ClaimValue], [UserId]) VALUES (3, N'Permission', N'Member', N'f6dc2cf6-1890-4aab-b8be-251bf941cc70')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Facebook', N'1737341829728535', N'Facebook', N'f6dc2cf6-1890-4aab-b8be-251bf941cc70')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'100813873405894479591', N'Google', N'174aca20-1794-4031-b4d5-392131fdb0d7')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'102957280784909704828', N'Google', N'af8da9b1-3abd-46b3-b1ad-18638d1c663a')
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'b2eea7e0-c303-4c1e-9369-2e29af96216f', N'[AspNetUserStore]', N'AuthenticatorKey', N'X3RHRYFCOFRXHG77FII7GQGI4M5ATKLZ')
INSERT [dbo].[BasicSteps] ([Id], [Description], [Icon], [Name], [StepType]) VALUES (1, N'This is the Video learningstep.', N'icon', N'Video', 0)
INSERT [dbo].[BasicSteps] ([Id], [Description], [Icon], [Name], [StepType]) VALUES (2, N'This is the Animation learningstep.', N'icon', N'Animation', 1)
INSERT [dbo].[BasicSteps] ([Id], [Description], [Icon], [Name], [StepType]) VALUES (3, N'This is the In control learningstep.', N'icon', N'In control', 2)
INSERT [dbo].[CourseProgressByUser] ([Id], [UserId], [CourseId], [Value], [Date], [Type], [OrderNumber], [LearningStepNumber], [Description], [Count]) VALUES (22289, N'9d120fa8-e0bf-4289-b367-edca0b74de47', 88, 100, CAST(N'2019-03-13' AS Date), 2, 0, 1, NULL, 0)
INSERT [dbo].[CourseProgressByUser] ([Id], [UserId], [CourseId], [Value], [Date], [Type], [OrderNumber], [LearningStepNumber], [Description], [Count]) VALUES (22290, N'9d120fa8-e0bf-4289-b367-edca0b74de47', 88, -17, CAST(N'2019-03-13' AS Date), 0, 0, 2, NULL, 6)
INSERT [dbo].[CourseProgressByUser] ([Id], [UserId], [CourseId], [Value], [Date], [Type], [OrderNumber], [LearningStepNumber], [Description], [Count]) VALUES (22291, N'9d120fa8-e0bf-4289-b367-edca0b74de47', 88, -10, CAST(N'2019-03-13' AS Date), 1, 1, 2, NULL, 6)
GO
INSERT [dbo].[InteractiveVideoAnswers] ([Id], [InteractiveVideoMomentId], [Answer]) VALUES (7, 28, N'B')
INSERT [dbo].[InteractiveVideoAnswers] ([Id], [InteractiveVideoMomentId], [Answer]) VALUES (8, 28, N'C')
INSERT [dbo].[InteractiveVideoAnswers] ([Id], [InteractiveVideoMomentId], [Answer]) VALUES (9, 28, N'E')
INSERT [dbo].[InteractiveVideoMoments] ([Id], [LearningStepId], [Moment], [Question], [CorrectAnswer], [Type], [ReasoningType], [CorrectIndices]) VALUES (28, 311, 51.0257377624512, N'1. Question', N'A', 0, 0, NULL)
INSERT [dbo].[InteractiveVideoMoments] ([Id], [LearningStepId], [Moment], [Question], [CorrectAnswer], [Type], [ReasoningType], [CorrectIndices]) VALUES (29, 311, 141.686538696289, N'2. Question', N'C', 0, 0, NULL)
INSERT [dbo].[InteractiveVideoMoments] ([Id], [LearningStepId], [Moment], [Question], [CorrectAnswer], [Type], [ReasoningType], [CorrectIndices]) VALUES (30, 325, 54.0466918945313, N'Az a[0] es a[1] helyet fognak cserelni?', N'Igen', 0, 0, NULL)
INSERT [dbo].[LearningSteps] ([Id], [DisplayMode], [CourseId], [Description], [InputType], [Name], [OrderNr], [PlaybackType], [LearningStepType], [TeacherInput], [AnimationKeyMoments], [VideoStartFrom], [VideoPlaybackRate]) VALUES (1, 0, 1, N'Clicking on this step you can see the Video learningstep of the algorithm.', 1, N'Video', 1, 1, 0, NULL, NULL, 0, 1)
INSERT [dbo].[LearningSteps] ([Id], [DisplayMode], [CourseId], [Description], [InputType], [Name], [OrderNr], [PlaybackType], [LearningStepType], [TeacherInput], [AnimationKeyMoments], [VideoStartFrom], [VideoPlaybackRate]) VALUES (2, 0, 1, N'Hi! With this animation we want to show you in a different way the bubble sort algorithm.', 1, N'Animation', 2, 1, 1, NULL, NULL, 0, 1)
INSERT [dbo].[LearningSteps] ([Id], [DisplayMode], [CourseId], [Description], [InputType], [Name], [OrderNr], [PlaybackType], [LearningStepType], [TeacherInput], [AnimationKeyMoments], [VideoStartFrom], [VideoPlaybackRate]) VALUES (3, 0, 1, N'Clicking on this step you can see the You are in control learningstep of the algorithm.', 1, N'You are in control', 3, 1, 2, NULL, NULL, 0, 1)
GO
USE [master]
GO
